<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="levelsTwo.css" />
    <link rel="icon" href="../../../assets/dinero.png">
    <title>Depósitos y retiros</title>
</head> 
<body>
    <header></header>
    <div id="links">
        <a href="https://pruebat.org/"><img src="../../../assets/logoPruebaT.png" alt="PruébaT/Fundación Carlos Slim" class="logo"></a>
        <a href="../../../index.html"><button type="button" class="btn-back">Regresar</button></a>
    </div>
    <div id="instructions">
        <h2>Instrucciones</h2>
        <p>
            A continuación se  muestra una cantidad en el cajero. Arrastra y suelta los billetes y monedas que faltan
            para completar la cantidad de dinero solicitada. Para retirar alguna moneda o
            billete solo vuelve a arrastarlos hasta donde estaba el dinero.
        </p>
    </div>
    <div class="hr">
        <h3>¡NIVEL DOS! EJERCICIO 1</h3>
    </div>
    <div class="container-lv1">
        <div class="lv-one">
            <h1>$582</h1>
            <div id="container-atm" class="box-atm">
                <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
                <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
                <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
                <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">   
            </div>
        </div>
        <div id="container-money" class="all-money">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/100.png" alt="100 pesos" class="ticket money" value="100">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/10.png" alt="10 pesos" class="ten_pesos money" value="10">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <img src="../../../assets/1.png" alt="1 peso" class="one_peso money" value="1">
            <div>
                <a href="./level_Two2.html"><button type="button" class="btn-ready">Listo</button></a>
            </div>
        </div>
    </div>
    <script src="./level_2.js"></script>
</body>
</html>